doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='./css/style.css')
    //- link(rel='stylesheet', href='./css/style1.css')
    link(rel='shortcut icon' type='image/png' href='./images/Logo.png')
    title=title 
  body
  block content 
  script(src='./js/main.js' type="module")
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.13.0/axios.min.js')
  script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')