extends base

block content
 .Back
      img.mountain-wllpr(src='./images/mountain.jpg', alt='')
      .overlay
      .FormPage
        .login
          .heading Login #10
          .textQue Have an account?
          input.modify-inp(placeholder='Username', type='text',id="userName")
          input.modify-inp(placeholder='Password', type='text',id="userPass")
          button.sign-button SIGN IN