extends base

block content
 .Back
      img.mountain-wllpr(src='./images/mountain.jpg', alt='')
      .overlay
      .FormPage
        .login
          .heading SignUp #10
          .textQue CREATE ACCOUNT
          input.modify-inp(placeholder='Name', type='text',id="Name_Sign")
          input.modify-inp(placeholder='Email', type='email',id="Email_Sign")
          input.modify-inp(placeholder='Password', type='password',id="Pass_Sign")
          input.modify-inp(placeholder='ConfirmPassword', type='password',id="CPass_Sign")
          button.sign-button SIGN UP